* {
    box-sizing: border-box;
    font-family: 'Jomolhari', serif;
}

img {
width: 100%;
}

/* The navigation bar */
 .navbar {
    overflow: hidden;
    background-color: rgba(100, 0, 0, 0.240);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    text-align: center;
    display: table;
    margin: 0 auto; left:0px; right:0px;
    
  }
  
  /* Links inside the navbar */



  .navbar a {
    text-align: center;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    width: 150px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color:white;
  }